{{!-- cách top 1 chút --}}
<div class="mt-4">
    <h3>
        Đăng Khóa học
    </h3>
    <form method="POST" action="/courses/store">
         <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" class="form-control" id="Name" name="Name"
          
        </div>
        <div class="form-group">
            <label for="Decription">Mo ta khoa hoc</label>
            <input type="text" class="form-control" id="Decription" name="Decription"
          
        </div>
        <div class="form-group">
            <label for="VideoID">Video link</label>
            <input type="text" class="form-control" id="VideoID" name="VideoID"
          
        </div>
       
        
        <button type="submit" class="btn btn-primary btnsubmit">Them khoa hoc</button>
    </form>
</div>